/*************************************************************************/
/*   メルカリ　Search Results List  CSS Ver.1.0  
/*   XiangYu 
/*************************************************************************/

body {
	position: relative;
	min-height: 100%;
	background: #f5f5f5;
	font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1
}
* {
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
html {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%
}
a {
	text-decoration: none
}
.default-container.container-custom-banner {
	padding: 70px 0 0
}

@media screen and (min-width: 768px) {
.default-container.container-custom-banner {
	padding: 100px 0 0
}
}
.pc-header {
	position: relative;
	z-index: 1001;
	background: #fff
}
.visible-pc {
	display: none
}

@media screen and (min-width: 768px) {
.visible-pc {
	display: block
}
}
.pc-header-inner {
	width: 700px;
	margin: 0 auto;
	padding: 8px 0 0
}

@media screen and (min-width: 1068px) {
.pc-header-inner {
	width: 1020px
}
}
.pc-header h1 a {
	display: block;
	color: #333;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.l-left {
	float: left
}
.l-right {
	float: right
}
.mark {
	width: 134px;
	height: 36px;
	vertical-align: middle;
}
.pc-header-form {
	position: relative;
 width:calc(100% - (134px + 16px))
}
.pc-header-form .input-default {
	width: 100%;
	height: 36px;
	padding: 9px 32px 9px 8px;
	background: #fafafa;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s
}
.pc-header-form .input-default:focus {
	border: 1px solid #0099e8
}
.icon-search {
	position: absolute;
	margin-top: 3px;
	margin-left: -32px;
	width: 30px;
	line-height: 30px;
}
.input-default {
	height: 48px;
	padding: 0px 16px 0px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	line-height: 1.5;
	font-size: 16px;
}
.input-default.has-error {
	border-color: #ea352d
}
.input-default:focus {
	border-color: #0099e8
}
.pc-header-nav-box {
	margin: 8px 0 0
}
.pc-header-nav-box {
	margin: 8px 0 0
}
.pc-header-nav-root {
	position: relative;
	height: 38px;
	line-height: 32px
}
.pc-header-nav-root:hover {
	color: #0099e8
}
.pc-header-nav-count {
	position: absolute;
	top: -2px;
	left: 6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ea352d;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #fff
}
.pc-header-nav {
	font-size: 0
}
.pc-header-nav>li {
	position: relative;
	display: inline-block;
	padding: 0 0 0 16px
}
.pc-header-nav>li:first-child {
	padding: 0
}
.pc-header-nav>li.hover .pc-header-nav-parent, .pc-header-nav>li:hover .pc-header-nav-parent {
	display: block
}
.pc-header-nav h2 {
	font-size: 14px;
	font-weight: 400
}
.pc-header-nav a {
	display: block;
	color: #333
}
.pc-header-nav a:hover {
	opacity: 1;
	text-decoration: none
}
.pc-header-nav .icon-arrow-bottom {
	margin: 0 0 0 8px;
	font-size: 7px
}
.pc-header-nav-parent-wrap {
	position: absolute;
	top: 38px;
	left: -34px;
	z-index: 1000;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24)
}

@media screen and (min-width: 1068px) {
.pc-header-nav-parent-wrap {
	left: 0
}
}
.pc-header-nav-parent-wrap a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px
}
.pc-header-nav-parent {
	display: none;
	width: 224px
}
.pc-header-nav-parent:hover>ul .pc-header-nav-child, .pc-header-nav-parent.hover>ul .pc-header-nav-child, .pc-header-nav-parent.active>ul .pc-header-nav-child {
	display: block
}
.pc-header-nav-parent h3 {
	font-weight: 400;
	font-size: 14px
}
.pc-header-nav-parent h3 a {
	padding: 0 16px;
	line-height: 44px
}
.pc-header-nav-parent h3 a:hover, .pc-header-nav-parent h3 a.active {
	background: #ea352d;
	color: #fff
}
.pc-header-nav-child-wrap {
	position: absolute;
	top: 0;
	left: 224px;
	bottom: 0;
	background: #fff;
	-webkit-box-shadow: 1px 0 0 0 #eee inset;
	box-shadow: 1px 0 0 0 #eee inset
}
.pc-header-nav-child {
	display: none;
	width: 224px
}
.pc-header-nav-child.hover>ul .pc-header-nav-grand-child, .pc-header-nav-child:hover>ul .pc-header-nav-grand-child {
	display: block
}
.pc-header-nav-child>a {
	padding: 8px 16px
}
.pc-header-nav-child>a:hover, .pc-header-nav-child>a.active {
	background: #eee
}
.pc-header-nav-grand-child-wrap {
	position: absolute;
	top: 0;
	left: 224px;
	bottom: 0;
	background: #fff;
	-webkit-box-shadow: 1px 0 0 0 #eee inset;
	box-shadow: 1px 0 0 0 #eee inset
}
.pc-header-nav-grand-child {
	display: none;
	width: 320px
}
.pc-header-nav-grand-child>a {
	padding: 8px 16px
}
.pc-header-nav-grand-child>a:hover, .pc-header-nav-grand-child>a.active {
	background: #eee
}
.sp-header-btn {
	display: block;
	margin: 0 40px 0 0;
	padding: 0 16px;
	border-radius: 4px;
	text-align: center;
	line-height: 30px
}
.pc-header-login-nav>li {
	display: inline-block;
	margin: 0 0 0 8px
}
.pc-header-login-nav>li:first-child {
	margin: 0
}
.is-browser-container .pc-header-login-nav>li:last-child {
	display: none
}

@media screen and (min-width: 768px) {
.is-browser-container .pc-header-login-nav>li:last-child {
	display: inline-block
}
}
.pc-header-login-nav a:hover {
	opacity: 1;
	text-decoration: none;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s
}
.pc-header-login-nav .sp-header-btn {
	margin: 0
}
.pc-header-login-nav .btn-red {
	display: block
}
.btn-red {
	background: #ea352d;
	border: 1px solid #ea352d;
	color: #fff
}
.btn-red:hover {
	background: #e62017;
	color: #fff
}
.header-signup {
	display: block;
	border: 1px solid #0099e8;
	background: #fff;
	color: #0099e8
}
.header-signup:hover {
	background: #0099e8;
	color: #fff
}
.sp-header-nav {
	position: relative;
	overflow: hidden;
	height: 44px;
	line-height: 42px;
	-webkit-overflow-scrolling: touch
}
.sp-header-nav:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 44px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), to(#fff));
	background: linear-gradient(to right, rgba(255,255,255,0), #fff)
}
.sp-header-nav ul {
	margin: 0 auto;
	padding: 0 8px 0 0;
	height: 120%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	text-align: center
}
.sp-header-nav li {
	display: inline-block
}
.sp-header-nav a {
	display: block;
	color: #333;
	padding: 0 16px
}
.header-signup {
	display: block;
	border: 1px solid #0099e8;
	background: #fff;
	color: #0099e8
}
.header-signup:hover {
	background: #0099e8;
	color: #fff
}
.bread-crumbs {
	position: relative;
	border-top: 1px solid #eee;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
	background: #fff
}
.bread-crumbs ul {
	padding: 17px 16px 16px;
	font-size: 0;
	white-space: nowrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

@media screen and (min-width: 768px) {
.bread-crumbs ul {
	overflow: visible;
	width: 700px;
	margin: 0 auto;
	padding: 17px 0 16px;
	white-space: normal
}
}

@media screen and (min-width: 1068px) {
.bread-crumbs ul {
	width: 1020px
}
}
.bread-crumbs li {
	display: inline-block;
	font-size: 14px;
	line-height: 1.2
}
.bread-crumbs li:last-child {
	font-weight: 600
}

@media screen and (min-width: 768px) {
.bread-crumbs li {
	text-overflow: ellipsis;
	white-space: nowrap
}
}
.bread-crumbs a {
	color: #333
}
.bread-crumbs .icon-arrow-right {
	margin: 0 8px;
	font-size: 9px;
	color: #888
}

@media screen and (min-width: 768px) {
.bread-crumbs-overflow {
	overflow: hidden;
	max-width: 88%;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top
}
}

@media screen and (min-width: 1068px) {
.bread-crumbs-overflow {
	max-width: 90%
}
}
.icon_right {
	width: 16px;
	height: 16px;
	margin-left: 2px;
}
.l-side {
	margin: 40px auto 0
}

@media screen and (min-width: 768px) {
.l-side {
	width: 700px
}
}

@media screen and (min-width: 1068px) {
.l-side {
	float: left;
	width: 280px;
	margin: 0 40px 0 0
}
.l-side *+.l-visible-large {
	margin: 40px 0 0
}
}
.l-visible-large {
	display: none
}

@media screen and (min-width: 1068px) {
.l-visible-large {
	display: block
}
}

@media screen and (min-width: 768px) {
.l-side-container {
	margin: 40px 0 0
}
}

@media screen and (min-width: 1068px) {
.l-side-container:first-of-type {
	margin: 0
}
}

@media screen and (min-width: 1068px) {
.search-extend-container {
	position: relative
}
}

@media screen and (min-width: 1068px) {
.search-extend-container {
	position: relative
}
}

@media screen and (min-width: 1068px) {
.search-sort {
	opacity: 1;
	position: static;
	width: auto
}
}
.search-sort .select-wrap {
	margin: 0;
	background: 0;
	text-align: center
}

@media screen and (min-width: 1068px) {
.search-sort .select-wrap {
	background: #fff;
	text-align: left
}
}
.select-default {
	height: 48px;
	background: url("./img/icon-arrow-bottom.png") no-repeat scroll right center transparent;
	background-color: #fff;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 4px;
	font-size: 16px;
	border: 1px solid #ccc;
	z-index: 2;
}

@media screen and (min-width: 1068px) {
.search-sort .select-default {
	height: 48px;
	padding: 0 16px;
	border: 1px solid #ccc
}
}
.form-group {
	margin: 40px 0 0
}
.form-group:first-child {
	margin: 0
}
.form-group.is-hidden {
	display: none
}
.form-group label {
	font-weight: 600
}
.form-group label+.textarea-default {
	margin: 8px 0 0
}
.form-group .input-default {
	width: 84%;
	margin: 8px 0 0;
}
.input-default_little {
	width: 30%;
	height: 48px;
	padding: 0px 8% 0px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	line-height: 1.5;
	font-size: 16px;
	margin-top: 20px;
}
.form-group .input-default+label {
	margin: 20px 0 0
}
.form-group .select-wrap {
	margin: 8px 0 0
}
.input-default {
	height: 48px;
	padding: 0px 8% 0px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	line-height: 1.5;
	font-size: 16px;
}
.form-group select {
	width: 100%
}
.form-group .checkbox-default, .form-group .radio-default, .form-group .textarea-default {
	margin: 16px 0 0
}
.form-group .icon-arrow-bottom {
	position: absolute;
	width: 48px;
	height: 45px;
	margin-right: -20px;
}
.select-wrap {
	position: relative;
	background: #fff
}
.select-wrap .icon-arrow-bottom {
	position: absolute;
	right: 16px;
	top: 50%;
	z-index: 2;
	color: #888;
	font-size: 8px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}
.select-default:focus, .input-default_little:focus {
	border-color: #0099e8
}
.search-sort .select-default {
	height: 72px;
	padding: 0;
	border: 0;
}
.search-save-nav.edit .checkbox-default {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}
.search-sort .select-default {
	height: 48px;
	padding: 0 16px;
	border: 1px solid #ccc
}
.search-dropdown-content {
	position: absolute;
	top: 72px;
	left: 0;
	right: 0;
	z-index: 10001;
	padding: 16px 5%;
	background: #fff;
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.4)
}

@media screen and (min-width: 768px) {
.search-dropdown-content {
	padding: 64px
}
}

@media screen and (min-width: 1068px) {
.search-dropdown-content.search-save {
	top: 0;
	right: -400px;
	left: 280px;
	padding: 32px
}
.search-dropdown-content.search-extend {
	position: static;
	display: block;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 16px
}
}
.search-dropdown-content h3 {
	font-size: 16px
}
.search-dropdown-content h3+.form-group {
	margin: 0
}

@media screen and (min-width: 1068px) {
.search-dropdown-content h3+.form-group {
	margin: 24px 0 0
}
}

@media screen and (min-width: 1068px) {
.search-extend {
	margin: 40px 0 0
}
}
.search-extend .form-group {
	font-size: 0
}
.search-extend .checkbox-default {
	display: inline-block;
	width: 48%;
	vertical-align: middle;
	word-break: break-word
}
.search-extend .checkbox-default:first-child {
	margin: 16px 0 0
}
.search-extend .checkbox-default:nth-child(even) {
	margin: 16px 0 0 4%
}
.search-extend label {
	display: block
}
.search-extend i {
	position: relative;
	top: -1px;
	margin: 0 4px 0 0;
	color: #888;
	font-size: 16px;
	vertical-align: middle
}
.search-extend i+span {
	font-size: 14px;
	vertical-align: middle
}
.search-extend-brand {
	position: relative
}
.search-extend-brand ul {
	overflow: auto;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	max-height: 280px;
	background: #fff;
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
	-webkit-overflow-scrolling: touch
}
.search-extend-brand ul::-webkit-scrollbar {
width:8px
}
.search-extend-brand ul::-webkit-scrollbar-thumb {
border-radius:8px;
background:rgba(0,0,0,0.64)
}
.search-extend-brand li {
	padding: 16px 8px;
	font-size: 14px
}
.search-extend-brand li:hover, .search-extend-brand li.current {
	background: #0099e8;
	color: #fff
}

@media screen and (min-width: 768px) {
.search-extend-brand li {
	cursor: pointer
}
}
.search-extend-btn {
	height: 90px;
	padding: 40px 0 0
}
.search-extend-btn.is-fixed {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	max-width: 700px;
	margin: 0 auto;
	padding: 16px 5%;
	border-top: 1px solid #ccc;
	background: #fff
}

@media screen and (min-width: 1068px) {
.search-extend-btn.is-fixed {
	position: static;
	padding: 0;
	border: 0
}
}
.search-extend-btn .btn-default {
	width: 45%
}
.search-extend-btn .btn-red {
	float: right
}
.search-extend-btn .btn-gray {
	float: left
}

@media screen and (min-width: 1068px) {
.visible-large {
	display: block
}
}
.search-container {
	position: relative;
}
.l-container {
	margin: 24px auto 0;
	padding: 0 0 40px
}

@media screen and (min-width: 768px) {
.l-container {
	width: 700px
}
}

@media screen and (min-width: 1068px) {
.l-container {
	margin: 40px auto 0;
	width: 1020px
}
}
.icon-plus {
	width: 16px;
	height: 16px;
}
.select-category-child, .select-category-grand-child {
	display: none
}
.select-category-child.is-show, .select-category-grand-child.is-show {
	display: block
}
.icon-list {
	width: 18px;
	height: 16px;
}
.icon-tag {
	width: 22.6px;
	height: 17.7px;
}
.icon-size, .icon-coin {
	width: 17.75px;
	height: 16px;
}
.checkbox-default span {
	position: relative;
	display: block;
}
.checkbox-default span input {
	display: none;
}
.checkbox-default span label {
	cursor: pointer;
	position: absolute;
	height: 20px;
	width: 20px;
	background: url(./img/icon-check.png)no-repeat;
	background-size: 20px;
	color: black;
}
.checkbox-default span label::after {
	content: '';
	opacity: 0;
	position: absolute;
	height: 20px;
	width: 20px;
	background: url(./img/icon-checked.png)no-repeat;
	background-size: 20px;
}
.checkbox-default input[type=checkbox]:checked + label:after {
	opacity: 1;
}
.checkbox-default p {
	padding: 0 0 0 28px;
	font-size: 14px;
	font-weight: 400;
}
.search-extend-btn {
	height: 90px;
	padding: 40px 0 0
}
.search-extend-btn.is-fixed {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	max-width: 700px;
	margin: 0 auto;
	padding: 16px 5%;
	border-top: 1px solid #ccc;
	background: #fff
}

@media screen and (min-width: 1068px) {
.search-extend-btn.is-fixed {
	position: static;
	padding: 0;
	border: 0
}
}
.search-extend-btn .btn-default {
	width: 45%
}
.search-extend-btn .btn-red {
	float: right
}
.search-extend-btn .btn-gray {
	float: left
}
.btn-gray {
	background: #aaa;
	border: 1px solid #aaa;
	color: #fff
}
.btn-default {
	display: block;
	width: 100%;
	line-height: 48px;
	font-size: 14px;
	border: 1px solid transparent;
	-webkit-transition: all ease-out .3s;
	transition: all ease-out .3s;
	cursor: pointer;
	text-align: center;
	margin-bottom: -20px;
}
.btn-default:hover {
	text-decoration: none
}
.btn-default.is-disabled, .btn-default:disabled {
	border: 1px solid #888;
	background: #888;
	color: #fff
}
.btn-default.is-disabled:hover, .btn-default:disabled:hover {
	background: #888;
	color: #fff
}
.advertisement img {
	margin-top: 30px;
	width: 100%;
}
.advertisement :hover {
	opacity: 0.7;
}
.footer-sell-btn {
	position: fixed;
	bottom: -14px;
	right: -14px;
	z-index: 1000;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ea352d;
	color: #fff;
	text-align: center
}
.footer-sell-btn img {
	width: 100%;
}

@media screen and (min-width: 768px) {
.footer-sell-btn {
	bottom: 32px;
	right: 32px;
	width: 160px;
	height: 160px;
	font-size: 22px
}
}
.footer-sell-btn div {
	margin: 14px 0 0
}

@media screen and (min-width: 768px) {
.footer-sell-btn div {
	margin: 32px 0 0
}
}
.footer-sell-btn:hover {
	opacity: 1;
	text-decoration: none
}
.footer-sell-btn .icon-camera {
	margin: 4px 0 0;
	font-size: 24px
}

@media screen and (min-width: 768px) {
.footer-sell-btn .icon-camera {
	margin: 8px 0 0;
	font-size: 54px
}
}
.app-banner {
	background: #fff
}

@media screen and (min-width: 768px) {
.app-banner {
	background: url("./img/advertisement.png");
	background-position: center
}
}
.app-banner-sp {
	padding: 20px;
}

@media screen and (min-width: 768px) {
.app-banner-sp {
	display: none;
}
}
.app-banner-sp a {
	display: block
}
.app-banner-pc {
	overflow: hidden;
	position: relative;
	display: none;
	width: 750px;
	height: 260px;
	margin: 0 auto;
	color: #fff
}

@media screen and (min-width: 768px) {
.app-banner-pc {
	display: block
}
}
.app-banner-pc h2 {
	margin: 0;
	font-size: 16px
}

@media screen and (min-width: 1068px) {
.app-banner-pc h2 {
	font-size: 24px
}
}
.app-banner-pc p {
	margin: 10px 0 0;
	font-size: 24px
}

@media screen and (min-width: 1068px) {
.app-banner-pc p {
	font-size: 35px
}
}
.app-banner-pc h2, .app-banner-pc p {
	text-shadow: 0 0 5px rgba(0,0,0,0.4)
}
.app-banner-pc>figure {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 100%
}
.app-banner-pc>figure img {
	width: 100%
}
.app-banner-pc-inner {
	position: absolute;
	top: 50%;
	left: 16px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

@media screen and (min-width: 1068px) {
.app-banner-pc-inner {
	left: 0
}
}
.app-banner-icon {
	margin: 20px 0 0
}
.app-banner-icon figure {
	float: left
}
.app-banner-icon ul {
	float: left;
	margin: 0 0 0 24px;
	line-height: 68px;
	list-style-type: none;
}
.app-banner-icon li {
	float: left;
	list-style-type: none;
}
.app-banner-icon li:last-child {
	margin: 0 0 0 16px
}
.app-banner-icon a {
	display: block;
	line-height: 68px
}
.app-banner-icon img {
	vertical-align: middle;
}
.side-banner {
	display: block
}
.side-banner img {
	width: 100%
}
.global-footer {
	padding: 40px 0;
	background: #212121;
	text-align: center;
	color: #fff
}

@media screen and (min-width: 768px) {
.global-footer {
	padding: 60px 0
}
}

@media screen and (min-width: 768px) {
.global-footer nav {
	width: 700px;
	margin: 0 auto
}
}

@media screen and (min-width: 1068px) {
.global-footer nav {
	width: 1020px
}
}
.global-footer li {
	color: #333
}
.global-footer a {
	color: #fff
}
.download-app a {
	display: block
}
.download-app img {
	margin: 0 8px 0 0
}

@media screen and (min-width: 768px) {
.download-app {
	display: none
}
}
.footer-cell {
	margin: 40px auto 0
}

@media screen and (min-width: 768px) {
.footer-cell {
	display: inline-block;
	width: 23%;
	margin: 0 2% 0 0;
	vertical-align: top
}
.footer-cell:last-child {
	margin: 0
}
}
.footer-cell li {
	margin: 16px 0 0
}
.footer-cell li:first-child {
	margin: 24px 0 0
}
.footer-cell a {
	display: block
}
.footer-head {
	color: #fff;
	font-size: 16px
}
.country {
	width: 22px;
}
.footer-nav-lang img {
	margin: 0 8px 0 0
}
.footer-nav-lang a {
	margin: 0 auto;
	opacity: .3
}
.footer-nav-lang a.active {
	opacity: 1.0
}

@media screen and (min-width: 768px) {
.footer-nav-lang a {
	width: auto
}
}
.footer-logo {
	display: block;
	margin: 40px 0 0
}
.footer-logo img {
	width: 124px;
	height: 33px;
}
.footer-logo img:hover {
	opacity: 0.8;
}
.l-content {
	width: 100%
}

@media screen and (min-width: 768px) {
.l-content {
	float: none;
	width: 700px
}
}

@media screen and (min-width: 1068px) {
.l-content {
	float: right
}
}
.search-nav {
	display: table;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}

@media screen and (min-width: 768px) {
.search-nav {
	border: 1px solid #ccc;
	background: #fff;
}
}
.search-nav>div {
	display: table-cell;
	width: 50%;
	font-size: 12px;
	height: 72px;
	border-left: 1px solid #ccc;
	vertical-align: middle;
	text-align: center
}
.search-nav>div:active {
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.16) inset;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.16) inset
}
.search-nav>div:first-child {
	border-left: 0
}
.search-nav>div>div {
	margin: 8px 0 0
}
.search-nav i {
	color: #aaa
}
.rank {
	width: 28px;
	height: 23px;
}
.search_detail {
	width: 40px;
	height: 26px;
}

@media screen and (min-width: 1068px) {
.hidden-large {
	display: none;
}
}
.search-result-head {
	margin: 16px 4% 8px;
	font-weight: 400
}

@media screen and (min-width: 768px) {
.search-result-head {
	margin: 16px 0 8px
}
}

@media screen and (min-width: 1068px) {
.search-result-head {
	margin: 0 0 8px
}
}
.item-box-tax {
	font-size: 10px;
	clear: both
}
.lazyloaded {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s
}
.items-box-head {
	font-size: 22px;
	margin: 24px 4% 8px
}

@media screen and (min-width: 768px) {
.items-box-head {
	margin: 24px 0 8px
}
}
.items-box-content {
	width: 92%;
	margin: 0 auto
}

@media screen and (min-width: 768px) {
.items-box-content {
	width: auto
}
}
.items-box {
	position: relative;
	float: left;
	width: 48%;
	margin: 0 0 4% 4%;
	background: #fff
}
.items-box:nth-child(odd) {
	margin: 0 0 4%
}

@media screen and (min-width: 768px) {
.items-box {
	width: 220px;
	margin: 0 0 20px 20px
}
.items-box:nth-child(odd) {
	margin: 0
}
.items-box:nth-child(2n+1) {
	margin: 0 0 20px 20px
}
.items-box:nth-child(3n+1) {
	margin: 0 0 20px
}
}
.items-box a {
	display: block;
	color: #333
}
.items-box a:hover {
	opacity: 1;
	text-decoration: none
}
.items-box-photo {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 0;
	padding: 0 0 100%
}
.items-box-photo img {
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
.items-box-photo {
	width: 220px;
	height: 0px;
}
}
.items-box-photo img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%
}
.items-box-photo img.is-higher-height {
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}
.items-box-photo img.is-higher-width {
	width: auto;
	left: 50%;
	right: auto;
	height: 100%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}
.list-figure-square img.is-higher-width {
	width: auto;
	left: 50%;
	right: auto;
	height: 100%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}
.owl-carousel .owl-item-inner.is-higher-width {
	min-height: 300px
}
.owl-carousel .owl-item-inner.is-higher-width img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto
}
.owl-dot img.is-higher-width {
	position: absolute;
	top: 0;
	left: 50%;
	width: auto;
	height: 100%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}
.mypage-item-list img.is-higher-width {
	width: auto;
	left: 50%;
	right: auto;
	height: 100%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0)
}
.help-center-activity-item img.is-higher-width {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto
}
.items-box-body {
	padding: 16px;
	height: 110px
}
.items-box-name {
	overflow: hidden;
	position: relative;
	font-weight: 400;
	height: 3em;
	line-height: 1.5;
	word-break: break-word;
	white-space: normal
}
.items-box-name:after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 1.5em;
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
	background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%)
}
.items-box-num {
	margin: 8px 0 0
}
.items-box-price {
	float: left
}
.items-box-likes {
	float: right
}
.items-box-likes i {
	margin: 0 4px 0 0;
	vertical-align: middle
}
.items-box-likes span {
	display: inline-block;
	margin: 1px 0 0;
	vertical-align: middle
}
.items-box-overflow {
	overflow: hidden
}
.items-box-overflow .items-box-content {
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 10px;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	font-size: 0
}

@media screen and (min-width: 768px) {
.items-box-overflow .items-box-content {
	padding: 0
}
}
.items-box-overflow .items-box {
	float: none;
	display: inline-block;
	width: 55%;
	max-width: 220px;
	margin: 0 5px;
	vertical-align: top
}

@media screen and (min-width: 768px) {
.items-box-overflow .items-box {
	float: left;
	display: block;
	width: auto;
	margin: 0 0 20px 20px;
	vertical-align: inherit
}
.items-box-overflow .items-box:nth-child(odd) {
	margin: 0
}
.items-box-overflow .items-box:nth-child(2n+1) {
	margin: 0 0 20px 20px
}
.items-box-overflow .items-box:nth-child(3n+1) {
	margin: 0 0 20px
}
}
.items-box-container+.pager {
	margin: 20px 0 0
}

@media screen and (min-width: 768px) {
.items-box-container+.pager {
	margin: 40px 0 0
}
}
.pickup-container .items-box-container>h3 {
	margin: 26px 11px
}

@media screen and (min-width: 768px) {
.pickup-container .items-box-container {
	width: 700px;
	margin: 0 auto
}
}

@media screen and (min-width: 1068px) {
.pickup-container .items-box-container {
	width: 940px
}
}

@media screen and (min-width: 768px) {
.pickup-container .items-box:last-child {
	display: none
}
}

@media screen and (min-width: 1068px) {
.pickup-container .items-box:last-child {
	display: block;
	margin: 0 0 0 20px
}
}
.font-2 {
	font-size: 16px;
	font-weight: 400;
	color: #333
}
.font-5 {
	font-size: 20px;
	font-weight: 600;
	color: #333
}
.icon-like-border {
	color: #ccc
}
.item-box-tax {
	font-size: 10px;
	clear: both
}
